*{margin:0;padding:0;outline:0;}
body{
	font-family: arial;
	font-size: 14px;
	line-height: 18px;
	color:#000;
}
.template{
	width:960px;
	background:#ddd;
	margin:0 auto;
}
.clear{overflow:hidden;}
.headersection{
	height: 85px;
	background: #B5801D;
	color:#fff;
}
.headersection h2 {
  font-size: 35px;
  padding-top: 30px;
  text-align: center;
}
.navsection {
  background: #E5B04D;
}
.navsection ul {
	list-style: none;
}
.navsection ul li {
	display:block;
	float:left;
}
.navsection ul li a {
  background: #bd8825 none repeat scroll 0 0;
  border: 1px solid #bd8825;
  color: #fff;
  display: block;
  font-size: 19px;
  font-weight: bold;
  margin: 5px;
  padding: 7px 25px;
  text-decoration: none;
}
.navsection ul li a:hover{background:#E5B04D;color:#333;}
.contentsection{
	background:#fff;
}
.mainsection {
  background: #dfdfdf;
  float: left;
  border:1px solid #b7801c;
  margin: 15px 15px 15px 0;
  width: 628px;
  padding:8px 20px;
}
.samepost{  margin-bottom: 15px;}
.samepost h2{
	font-size: 25px;
	padding:10px;
	color:#fff;
	background:#e3ae4b;
	font-weight: bold;
	border-bottom:3px solid #B5801D;
	margin-bottom: 10px;
}
.samepost img {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #99989a;
  float: left;
  width:250px;
  height:150px;
  margin-right: 10px;
  padding: 5px;
}
.samepost p {
  font-size: 16px;
  word-spacing: 2px;
  line-height: 24px;
  text-align: justify;
}
.readmore{ 
	float:right;
	margin-top: 10px;
}
.readmore a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #9b999a;
  border-radius: 4px;
  color: #b7801c;
  display: block;
  font-size: 17px;
  padding: 4px 8px;
  text-decoration: none;
}
.readmore a:hover{color:#4862A3;}
.sidebar {
  background: #bbbabb;
  float: right;
  border: 1px solid #b5801d;
  margin-top: 15px;
  padding: 10px;
  width: 253px;
  margin-bottom: 10px;
}
.samesidebar{}
.samesidebar h2{
	background:#E5B04D;
	padding:10px;
	margin-bottom: 8px;
	color:#fff;
	border-bottom:3px solid #B5801D;
}
.samesidebar p{
	margin-bottom: 10px;
}
.footer{ 
	height:90px;
	background:#504E50;
 }
.footer p{
	text-align:center;
	font-size: 20px;
	font-weight: bold;
	color:#fff;
	padding-top:30px;
}

